{# templates/message.txt #}

<html>

<body>

<h1>All threads</h1>
<p></p>

{% for thr in threads: %}
    <p><a href="{{ thr[1] }}.html">{{ thr[0] }}</a> by {{ thr[2] }} on {{ thr[3] }}</p>

{% endfor %}
</body>

</html>