{# templates/message.txt #}

<html>

<body>

<h1>{{ threadname }}</h1>
<p></p>

{% for post in posts: %}
    <hr>
    <p><b>{{ post[0] }}</b></p>
    <p>{{ post[1] }}</p>
    <p><u>Timestamp: {{ post[2] }}</u></p>

{% endfor %}
</body>

</html>